/* Card container style */
.card {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 0.75rem;
    padding: 2.5rem;
    max-width: 960px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 1.25rem;
    background-image: radial-gradient(circle at 1px 1px, #e0e0e0 1px, transparent 0);
    background-size: 20px 20px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    max-width: 800px;
    text-align: center;
    padding-bottom: 1.25rem;
}

.inputContainer {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
}

.input {
    padding: 1rem;
    width: 90%;
    max-width: 43.75rem;
    min-width: 18.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.button {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #16a34a;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
    .inputContainer {
        flex-direction: column;
        align-items: center;
    }

    .input {
        padding: 0.75rem;
        font-size: 1rem;
    }

    .button {
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }
}